<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Sign in</title>
  </head>
  <body>
    <div class="wrapper">
      <img src="/images/Badgewell _Logo Horizontal.svg" />
      <h3 class="header">Loading.....</h3>
    </div>
  </body>
</html>
